openapi: 3.0.1
info:
  description: '''dev2.baidu.com'' api schema'
  title: dev2 api schema
  version: 2022.2.1.3-SNAPSHOT
servers:
- url: https://api.baidu.com/
- url: http://api.baidu.com/
tags:
- name: AssetShareFeedService
paths:
  json/feed/v1/AssetShareFeedService/addAssetShareFeed:
    post:
      operationId: addAssetShareFeed
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AddAssetShareFeedRequestWrapper'
        required: true
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AddAssetShareFeedResponseWrapper'
          description: response
      tags:
      - AssetShareFeedService
      x-codegen-request-body-name: AddAssetShareFeedRequestWrapper
      x-contentType: application/json;charset=UTF-8
      x-accepts: application/json;charset=UTF-8
components:
  schemas:
    AddAssetShareFeedRequestWrapper:
      example:
        body:
          assetShareTypes:
          - srcAssetId: 0
            assetId: 5
            assetContent: assetContent
            assetName: assetName
            type: 1
            toUserId: 6
          - srcAssetId: 0
            assetId: 5
            assetContent: assetContent
            assetName: assetName
            type: 1
            toUserId: 6
      properties:
        header:
          $ref: '#/components/schemas/ApiRequestHeader'
        body:
          $ref: '#/components/schemas/AddAssetShareFeedRequestWrapperBody'
      type: object
    AddAssetShareFeedResponseWrapper:
      example:
        body:
          data:
          - srcAssetId: 0
            assetId: 5
            assetContent: assetContent
            assetName: assetName
            type: 1
            toUserId: 6
          - srcAssetId: 0
            assetId: 5
            assetContent: assetContent
            assetName: assetName
            type: 1
            toUserId: 6
      properties:
        header:
          $ref: '#/components/schemas/ApiResponseHeader'
        body:
          $ref: '#/components/schemas/AddAssetShareFeedResponseWrapperBody'
      type: object
    ApiErrorInfo:
      type: object
    ApiResponseHeader:
      type: object
    ApiRequestHeader:
      type: object
    AssetShareFeedType:
      example:
        srcAssetId: 0
        assetId: 5
        assetContent: assetContent
        assetName: assetName
        type: 1
        toUserId: 6
      properties:
        srcAssetId:
          format: int64
          type: integer
        toUserId:
          format: int64
          type: integer
        type:
          format: int32
          type: integer
        assetId:
          format: int64
          type: integer
        assetName:
          type: string
        assetContent:
          type: string
      type: object
    AddAssetShareFeedRequestWrapperBody:
      example:
        assetShareTypes:
        - srcAssetId: 0
          assetId: 5
          assetContent: assetContent
          assetName: assetName
          type: 1
          toUserId: 6
        - srcAssetId: 0
          assetId: 5
          assetContent: assetContent
          assetName: assetName
          type: 1
          toUserId: 6
      properties:
        assetShareTypes:
          items:
            $ref: '#/components/schemas/AssetShareFeedType'
          type: array
      title: AddAssetShareFeedRequestWrapperBody
      type: object
    AddAssetShareFeedResponseWrapperBody:
      example:
        data:
        - srcAssetId: 0
          assetId: 5
          assetContent: assetContent
          assetName: assetName
          type: 1
          toUserId: 6
        - srcAssetId: 0
          assetId: 5
          assetContent: assetContent
          assetName: assetName
          type: 1
          toUserId: 6
      properties:
        data:
          items:
            $ref: '#/components/schemas/AssetShareFeedType'
          type: array
      title: AddAssetShareFeedResponseWrapperBody
      type: object
x-original-swagger-version: "2.0"

