/*
 * dev2 api schema
 * 'dev2.baidu.com' api schema
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.baidu.dev2.api.sdk.oauthauthorizedtoolapi.api;

import com.fasterxml.jackson.core.type.TypeReference;

import com.baidu.dev2.api.sdk.invoke.ApiException;
import com.baidu.dev2.api.sdk.invoke.ApiClient;
import com.baidu.dev2.api.sdk.invoke.Configuration;
import com.baidu.dev2.api.sdk.oauthauthorizedtoolapi.model.*;
import com.baidu.dev2.api.sdk.invoke.Pair;

import com.baidu.dev2.api.sdk.oauthauthorizedtoolapi.model.GetAuthCodeRequestWrapper;
import com.baidu.dev2.api.sdk.oauthauthorizedtoolapi.model.GetAuthCodeResponseWrapper;


import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
public class OAuthAuthorizedToolApi {
  private ApiClient apiClient;

  public OAuthAuthorizedToolApi() {
    this(Configuration.getDefaultApiClient());
  }

  public OAuthAuthorizedToolApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * 
   * 
   * @param getAuthCodeRequestWrapper  (required)
   * @return GetAuthCodeResponseWrapper
   * @throws ApiException if fails to make API call
   */
  public GetAuthCodeResponseWrapper getAuthCode(GetAuthCodeRequestWrapper getAuthCodeRequestWrapper) throws ApiException {
    Object localVarPostBody = getAuthCodeRequestWrapper;
    
    // verify the required parameter 'getAuthCodeRequestWrapper' is set
    if (getAuthCodeRequestWrapper == null) {
      throw new ApiException(400, "Missing the required parameter 'getAuthCodeRequestWrapper' when calling getAuthCode");
    }
    
    // create path and map variables
    String localVarPath = "/json/sms/service/OAuthAuthorizedToolAPI/getAuthCode";

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json;charset=UTF-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json;charset=UTF-8"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<GetAuthCodeResponseWrapper> localVarReturnType = new TypeReference<GetAuthCodeResponseWrapper>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }
}
